@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "node_modules/modern-normalize/modern-normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* declaracion de variables */

:root {
  --primary-title-color: #212121;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;

  --accent-color: #2196f3;
  --background-black: #2f303a;
  --background-gray: #f5f4fa;
  --button-filter: #f5f4fa;
  --button-primary-hover: #188ce8;
  --logo-black: #000000;
  --text-white-opacy: #ffffff99;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  margin: auto;

}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav-container{
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.Web-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 93px;
}


.header-link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  margin-right: 50px;
}
.header-link:hover {
  color: var(--accent-color);
}

.tocontact {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tocontact:hover {
  color: var(--accent-color);
}

/* ---------------------- */
/* INDEX */
/* ---------------------- */

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-requeriment {
  display: flex;
  background-color: var(--background-black);
  align-items: center;
  height: 600px;
  justify-content: center;
  flex-direction: column;
}

.main-h1 {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  padding-right: 280px;
  padding-left: 280px;
}

.main-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
}
.main-button:hover {
  background-color: var(--button-primary-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.benefits-container {
  display: flex;
  margin-left: 30px;
  padding-top: 95px;
  justify-content: space-evenly;
}

.title-h3 {
  color: var(--primary-title-color);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.main-benefits-p {
  color: var(--primary-text-color);
  display: block;
  line-height: 24px;
}

.title-h2{
  color: var(--primary-title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  padding-bottom: 50px;
  padding-top: 94px;
  text-align: center;
}

.what-do-images{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 94px;
}

.our-team{
  background-color: var(--background-gray)
  ;
}

.members{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 94px;
}

.card-member{
  background-color: var(--primary-white-color);
  border-radius: opx opx 4px 4px;
  box-shadow: opx 1px 3px rgba(0, 0, 0, 0.12);, 0px 1px 1px rgba(0, 0, 0, 14)
  box-sizing: border-box;
}

.name {
  color: var(--primary-title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
    
}

.profession{
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
    
}

.footer-container{
  background-color: var(--background-black);
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 20px;
  margin-bottom: 9px;
  flex-direction: column;
}

.location-link {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  }  
.location-link:hover{
    color: var(--button-primary-hover);
}

.link-contact{
  color: var(--text-white-opacy);
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
}
.link-contact:hover {
color: var(--button-primary-hover);
}




/* portfolio */

.butt-first{
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.butt-second{
    background: #F5F4FA;
    border-radius: 4px;
}

.text-black{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.title-image {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.description {
    color: #757575;
}

/*.butt-1:hover{
color: #f63;
}*/
